@model IEnumerable<Domain.Purchase>
@using System.Web.Security

@{
    ViewBag.Title = "Корзина";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-lg-5">
            <table class="table">
                <tr>
                    <th>Название лимонада</th>
                    <th>Стоимость</th>
                    <th>Количество</th>
                    <th>Дополнительно</th>
                </tr>
                @foreach (var i in Model)
                {
                    if (i.AccountName == @User.Identity.Name)
                    {
                        <tr>
                            @foreach (var j in ViewBag.Products)
                            {
                                if (i.ProductID == j.ID)
                                {
                                    <td>@j.Name</td>
                                    <td>@j.Price</td>
                                    <td>@i.Count</td>
                                    <td>
                                        @using (Html.BeginForm("DeleteFromCart", "Product"))
                                        {
                                            <input type="hidden" name="id" id="id" value="@i.ID" />
                                            <h4><input type="submit" class="btn btn-default" value="Удалить"></h4>
                                        }
                                    </td>
                                }
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}
else
{
    <h2>Чтобы покупать лимонад, нужно авторизироваться</h2>
}
