@using Domain.Models;
@using System.Web.Security;
@model  IEnumerable<Product>
@{
    ViewBag.Title = "Лимонад";
}
@if (User.Identity.Name == "Admin")
{
    <a href="/Product/Create" class="btn btn-default">Добавить лимонад</a>
    <br/><br/>
}
<script>
    function Add() {
        alert("Вы добавили лимонад в корзину!");
    }
</script>
<div class="row">
    @foreach (var l in Model)
    {
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="panel panel-default" style="padding:7px">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/Images/@l.Name .jpg" />
                    </div>
                    <div class="col-lg-6">
                        <h2>@l.Name</h2>
                        <h4>Цена: @l.Price руб</h4>
                        <h4>Объём: @l.Size л</h4>
                        <h4>Наличие: @l.Count шт</h4>
                        @using (Html.BeginForm("AddToCart", "Product"))
                        {
                            <input type="hidden" name="ID" id="ID" value="@l.ID" />
                            <h4><input type="submit" class="btn btn-success" value="В корзину" onclick="Add()"> </h4>
                        }
                        @if (User.Identity.Name == "Admin")
                        {
                            using (Html.BeginForm("Remove", "Product"))
                            {
                                <input type="hidden" name="ID" id="ID" value="@l.ID" />
                                <h4><input type="submit" class="btn btn-danger" value="Удалить"></h4>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    }
</div>